a {
  text-decoration: none;
  color: inherit;
}
#navbar {
            overflow: hidden;
            background-color: #000;
            position: fixed;
            top: 0;
            width: 100%;
            margin: 0px;
            padding: 5px;
            color: #fff;
            z-index: 2;
        }
        #icon {
            padding-top: 10px;
            font-size: 25px;
        }
        #postinc {
            font-family: 'Garamond', serif;
            text-align: center;
            font-size: 30px;
            letter-spacing: 7px;
        }
        #icons {
            text-align: right;
            font-size: 20px;
            padding-top: 7px;
        }
        #navbar i {
            margin-right: 15px;
        }
        [type='checkbox']:checked + label::before {
            opacity: 0 !important;
        }
        [type='checkbox'] + label::before, [type='checkbox']:not(.filled-in) + label::after {
            opacity: 0 !important;
        }
/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}

#navbar a {
  text-decoration: none;
  color: inherit;
}
#navbar a:hover {
    color: inherit;
    opacity: 0.75;
}
/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 225px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 0.70em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.2s;
}
.navitem {
  /* non-critical appearance styles */
  width: 225px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
  display: block;
  padding: 0.7em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.2s;
}
.nav-item a:hover {
  color: #fff;
  background: #3fc3ff;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
   background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
  background-size: 200%;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed !important;
  top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked +  {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 225px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}

input#search_field {
  padding-top: 40px;
  margin-bottom: 0px;
  display: inline;
  width: 80%;
}

button#search_button {
  padding: 0px !important;
  background: none;
  border: none;
  width: auto !important;
  display: inline !important;
}
/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }